header {
    background: #007bff;
    color: white;
}

.card {
    margin-top: 20px;
}


.card img {
    max-width: 100%; /* Ajusta el ancho al contenedor */
    max-height: 100px; /* Ajusta este valor según el tamaño deseado */
    height: auto; /* Mantiene la proporción original de la imagen */
    object-fit: contain; /* Evita que la imagen se recorte */
    margin: 0 auto; /* Centra la imagen en el contenedor */
    margin-top: 1rem;
    display: block; /* Evita espacios innecesarios de imágenes inline */
}
.modal-title {
    font-weight: bold;
}
 